@model ProfileFromViewModel


@{
    ViewData["Title"] = "Edit User Profile";
}


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <h2>Edit User Profile.</h2>
    <hr />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" maxlength="50" aria-required="true" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" maxlength="50" aria-required="true" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" maxlength="50" aria-required="true" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <hr />
    <button type="submit" class="btn btn-primary mt-4">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}