html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/*Custom CSS Files*/

.profile-picture {
    height: 295px;
    width: 295px;
    object-fit: contain;
    

}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: fill;
}


.scroll {
    height: 150px;
    overflow-y: scroll;
}